---
import type { MarkdownHeading } from 'astro'

import { buildToc } from '@/lib/utils/tableOfContents'

import TableOfContentsItem from './TableOfContentsItem.astro'

type Props = {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
const toc = buildToc(headings)

export const tocHeadingId = 'toc-heading'
---

<h2 id={tocHeadingId} class="sr-only">Table of contents</h2>
<ul class="flex flex-col gap-3 pl-1">
  {toc.map((heading) => <TableOfContentsItem heading={heading} />)}
</ul>
<svg
  class="toc-progress pointer-events-none absolute inset-0 top-0 h-full w-full noscript:hidden"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    class="toc-marker text-primary stroke-current transition-all duration-300"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-dasharray="1 0 0 1000"
    stroke-dashoffset="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
  </path>
</svg>
<script>
  import { addIntersectionObserver, drawPath } from '@/lib/utils/tableOfContents'

  drawPath()
  addIntersectionObserver()
</script>
