---
import { Image } from 'astro:assets'

import marekImg from '@/assets/images/marek.jpg'
import { cn } from '@/lib/utils/cn'

import AboutText from './AboutText.mdx'
import SocialIconLinks from './SocialIconLinks.astro'

type Props = {
  className?: string
}

const { className } = Astro.props

const sectionId = 'about'
---

<section aria-labelledby={sectionId} class={className}>
  <h2
    id={sectionId}
    class={cn('mb-8 scroll-mt-8 text-3xl leading-[140%] font-semibold', 'md:text-4xl')}
  >
    A Bit About Me
  </h2>
  <div class={cn('grid grid-cols-1 gap-10', 'lg:grid-cols-[1fr_14rem] lg:gap-16')}>
    <div>
      <div
        class={cn(
          '[&_strong]:font-bold [&>p]:leading-relaxed [&>p]:not-first-of-type:mt-5',
          'lg:[&>p]:text-lg',
        )}
      >
        <AboutText />
      </div>

      <SocialIconLinks className="mt-10" />
    </div>
    <Image
      src={marekImg}
      alt="Marek Honzal"
      width={224}
      densities={[2, 3]}
      class="mask mask-squircle size-56"
    />
  </div>
</section>
