---
import { Icon } from 'astro-icon/components'
import { socials } from '@/config/socials'
import { cn } from '@/lib/utils/cn'

type Props = {
  className?: string
}

const { className } = Astro.props
---

<ul class={cn('flex items-center gap-5', className)}>
  {
    socials.map(({ label, iconName, url }) => (
      <li>
        <div class="tooltip" data-tip={label}>
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-square btn-primary btn-soft"
          >
            <Icon name={iconName} class="size-6" />
            <span class="sr-only">{label}</span>
          </a>
        </div>
      </li>
    ))
  }
</ul>
