---
import { Icon } from 'astro-icon/components'

import type { HeadingLevel } from '@/lib/types'
import { cn } from '@/lib/utils/cn'

type HeadingElement = `h${HeadingLevel}`

type Props = {
  level: HeadingLevel
  id?: string
  class?: string
}

const { level, class: className, id, ...rest } = Astro.props
const Tag = `h${level}` as const satisfies HeadingElement

const shouldRenderAnchor = !!id && level !== 1
---

<Tag
  class={cn({ 'relative scroll-mt-8': shouldRenderAnchor }, className)}
  id={id}
  {...rest}
>
  {!shouldRenderAnchor && <slot />}
  {
    shouldRenderAnchor && (
      <a href={`#${id}`} class="not-prose group link-outline link-outline-rounded">
        <slot />
        <Icon
          name="lucide:hash"
          class={cn(
            'text-neutral-content absolute top-1/2 -left-[0.8em] hidden size-[0.66em] -translate-x-4 -translate-y-1/2 opacity-0 transition duration-200 ease-in-out',
            'lg:inline-block lg:opacity-0 lg:group-hover:translate-x-0 lg:group-hover:opacity-100 lg:group-focus-visible:translate-x-0 lg:group-focus-visible:opacity-100',
          )}
          aria-hidden="true"
        />
      </a>
    )
  }
</Tag>
