@import 'tailwindcss';
@import './themes/theme-light.css';
@import './themes/theme-dark.css';
@import './fonts.css';
@import './shiki.css';
@import './animation.css';

@plugin 'daisyui' {
  themes:;
  logs: false;
}

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Open Sans', 'sans-serif';
  --font-serif: 'Lora', 'serif';

  --animate-wave: wave 800ms ease-in-out 1;

  --aspect-og: 1200 / 630;
}

:root {
  --header-h: 4.5rem;
}

html {
  @apply scroll-smooth;
}

/* Copy button in markdown code block */
.code-block {
  @apply relative;

  & > button {
    @apply btn btn-soft btn-xs absolute top-0.5 right-0.5;
  }
}
