---
import type { CollectionEntry } from 'astro:content'
import { formatDateHuman, formatDateMachine } from '@/lib/utils/date'

type Props = Pick<CollectionEntry<'blog'>['data'], 'title' | 'date'>

const { title, date } = Astro.props
---

<div class="my-10">
  <h1
    class:list={[
      'text-primary font-serif text-3xl leading-tight text-balance',
      'lg:text-4xl',
      'xl:text-5xl',
    ]}
  >
    {title}
  </h1>
  <time class="text-neutral-content mt-6 font-serif" datetime={formatDateMachine(date)}
    >{formatDateHuman(date)}</time
  >
</div>
