---
import type { ReadingTime } from '@/lib/types'
import { formatDateHuman, formatDateMachine } from '@/lib/utils/date'

type Props = {
  readingTime: ReadingTime
  createdAt: Date
}

const { createdAt, readingTime } = Astro.props
---

<span class="text-base-content/75 inline-block font-serif">
  <time datetime={formatDateMachine(createdAt)}>{formatDateHuman(createdAt)}</time>
  {readingTime.minutes > 0 ? ` ● ${readingTime.text}` : null}
</span>
