---
import Portrait from '@/assets/avatar.svg'
import { cn } from '@/lib/utils/cn'

type Props = {
  className?: string
}

const { className } = Astro.props

const bubbleMix =
  'bg-primary-mix motion-safe:animate-slide-in absolute top-0 aspect-square h-full rounded-full'
---

<div class={cn('relative flex h-12 items-center justify-start', 'lg:h-16', className)}>
  <div
    class={cn(
      bubbleMix,
      'mix-1 left-0 z-70 motion-safe:[animation-delay:0ms]',
      'grid place-content-center overflow-clip p-0.5 text-white',
    )}
  >
    <Portrait class="size-full" />
  </div>
  <div
    class={cn(
      bubbleMix,
      'mix-6-7 left-8 z-60 motion-safe:[animation-delay:75ms] lg:left-10',
    )}
  >
  </div>
  <div
    class={cn(
      bubbleMix,
      'mix-5-7 left-16 z-50 motion-safe:[animation-delay:150ms] lg:left-20',
    )}
  >
  </div>
  <div
    class={cn(
      bubbleMix,
      'mix-4-7 left-24 z-40 motion-safe:[animation-delay:225ms] lg:left-30',
    )}
  >
  </div>
  <div
    class={cn(
      bubbleMix,
      'mix-3-7 left-32 z-30 motion-safe:[animation-delay:300ms] lg:left-40',
    )}
  >
  </div>
  <div
    class={cn(
      bubbleMix,
      'mix-2-7 left-40 z-20 motion-safe:[animation-delay:375ms] lg:left-50',
    )}
  >
  </div>
  <div
    class={cn(
      bubbleMix,
      'mix-1-7 left-48 z-10 motion-safe:[animation-delay:450ms] lg:left-60',
    )}
  >
  </div>
</div>
