---
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import {
  getPostTagMetadata,
  getAllTags,
  getSortedTagMetadataByCount,
} from '@/lib/utils/posts'
import { shouldIncludeItem, getSortedContentByDateDesc } from '@/lib/utils/content'
import { defaultSeo } from '@/config/seo'
import ArticleGrid from '@/components/Content/ArticleGrid.astro'
import { TagsNavigation } from '@/components/Blog/TagsNavigation'
import { cn } from '@/lib/utils/cn'

const meta = {
  title: 'Blog',
  description:
    'Frontend insights, architecture tips, and developer reflections by Marek Honzal — plus thoughts on dev life, growth, and side projects.',
} as const

const blogPosts = await getCollection('blog', shouldIncludeItem)
const sortedPosts = getSortedContentByDateDesc(blogPosts)

const uniqueTags = getAllTags(blogPosts)
const tagsMetadata = getPostTagMetadata(blogPosts, uniqueTags)
const sortedTagsMetadata = getSortedTagMetadataByCount(tagsMetadata)
---

<BaseLayout
  pageTitle={defaultSeo.pageTitle(meta.title)}
  pageDescription={meta.description}
>
  <div class="mt-5 mb-10 space-y-5">
    <h1 class={cn('text-3xl font-semibold', 'md:text-4xl')}>Blog</h1>
    <h2 class="text-lg">On frontend, code, tools, and the ideas that stick.</h2>
  </div>
  <h2 class="mb-5 text-lg font-semibold">Browse by Tags</h2>
  <TagsNavigation client:load tags={sortedTagsMetadata} className="mb-10" />
  <ArticleGrid posts={sortedPosts} />
</BaseLayout>
