---
import { headerNavigation } from '@/config/navigation'
import { cn } from '@/lib/utils/cn'

const { pathname } = Astro.url
const isActive = (targetUrl: string) => pathname.includes(targetUrl)
---

<ul class="flex items-center gap-3">
  {
    headerNavigation.map((navLink) => (
      <li>
        <a
          class={cn(
            'text-base-content/75 px-3 py-1.5 font-medium transition-colors duration-200 ease-out',
            'link-outline link-outline-rounded',
            'hover:text-base-content',
            {
              'text-base-content': isActive(navLink.href),
            },
          )}
          href={navLink.href}
        >
          {navLink.label}
        </a>
      </li>
    ))
  }
</ul>
