---
import { ROUTES } from '@/config/routes'
import { cn } from '@/lib/utils/cn'

import Navigation from './Navigation.astro'
---

<header class="grid h-(--header-h) items-center">
  <nav
    aria-label="Main navigation"
    class={cn(
      'mx-auto flex w-full max-w-6xl items-center justify-between px-5',
      'md:px-8',
    )}
  >
    <a href={ROUTES.home} class="link-outline link-outline-rounded">
      <span class="text-xl font-semibold tracking-wide">Marek Honzal</span>
    </a>
    <Navigation />
  </nav>
</header>
