---
import { cn } from '@/lib/utils/cn'
import Navigation from './Navigation.astro'
import { ROUTES } from '@/config/routes'
---

<header class="grid h-(--header-h) items-center">
  <nav
    aria-label="Main navigation"
    class={cn(
      'mx-auto flex w-full max-w-5xl items-center justify-between px-5',
      'md:px-8',
    )}
  >
    <a
      href={ROUTES.home}
      class="focus-visible:outline-primary focus-visible:rounded-sm focus-visible:outline-2 focus-visible:outline-offset-2"
    >
      <span class="text-xl font-semibold tracking-wide">Marek Honzal</span>
    </a>
    <Navigation />
  </nav>
</header>
