---
import { Icon } from 'astro-icon/components'
import type { HTMLAttributes } from 'astro/types'

import { cn } from '@/lib/utils/cn'

type Props = HTMLAttributes<'a'> & {
  href: string
  hasIcon?: boolean
}

type LinkType = 'internal' | 'external' | 'anchor'

const { href, class: className, hasIcon = true, ...rest } = Astro.props

const linkType = ((href: string): LinkType => {
  if (href.startsWith('/')) return 'internal'
  if (href.startsWith('#')) return 'anchor'
  return 'external'
})(href)

if (linkType === 'anchor') {
  // These are handled by Heading components to autogenerate anchor tags for headings
  return null
}
---

{
  linkType === 'external' && (
    <a
      href={href}
      target="_blank"
      rel="noopener"
      class={cn('link link-primary link-hover inline-flex items-center gap-1', className)}
      {...rest}
    >
      <slot />
      {hasIcon && (
        <Icon
          name="lucide:external-link"
          class="inline-block size-4"
          aria-hidden="true"
        />
      )}
    </a>
  )
}

{
  linkType === 'internal' && (
    <a href={href} {...rest} class="link link-primary link-hover">
      <slot />
    </a>
  )
}
