---
import { cn } from '@/lib/utils/cn'
---

<!-- TODO: Style all prose elements -->
<div
  class={cn(
    'prose lg:prose-lg max-w-none',
    'prose-pre:leading-[140%]',
    'prose-p:text-base-content',
    'prose-headings:text-balance prose-headings:font-serif prose-headings:font-medium prose-headings:text-primary prose-headings:leading-tight',
    'prose-h1:font-normal',
    '[&_section:first-of-type_h2]:mt-0',
    'prose-ul:text-base-content',
    'prose-ol:text-base-content',
    'prose-img:rounded-md',
  )}
>
  <slot />
</div>
