---
import { getLastCommitDateIntoDefaultBranch } from '@/lib/github'
import { formatDateHuman } from '@/lib/utils/date'

const lastCommitDate = await getLastCommitDateIntoDefaultBranch(
  'marekh19/marekhonzal.com',
)

const formattedLastCommit = formatDateHuman(lastCommitDate ?? new Date(), {
  month: 'long',
  day: 'numeric',
  year: 'numeric',
  hour: 'numeric',
  minute: '2-digit',
  timeZoneName: 'short',
  hour12: false,
})
---

<p class="text-base-content/60 text-xs">
  Last updated by Marek on {formattedLastCommit}
</p>
