---
import { cn } from '@/lib/utils/cn'
---

<div
  class={cn(
    'prose lg:prose-lg max-w-none',
    'prose-pre:leading-[133.33%]',
    'prose-p:text-base-content',
    'prose-headings:text-balance prose-headings:font-serif prose-headings:font-medium prose-headings:text-primary prose-headings:leading-tight',
    'prose-h1:font-normal',
    'prose-h4:text-[1.125em]',
    '[&_section:first-of-type_h2]:mt-0',
    'prose-ul:text-base-content',
    'prose-ol:text-base-content',
    'prose-img:rounded-md',
    'prose-inline-code:border-none prose-inline-code:bg-base-100 prose-inline-code:text-base-content/75',
    'prose-pre:border prose-pre:border-base-100 dark:prose-pre:border-neutral',
  )}
>
  <slot />
</div>
