---
import { defaultSeo } from '@/config/seo'
import LandmarksLayout from './LandmarksLayout.astro'
import Analytics from '@/components/utility/Analytics.astro'
import Rss from '@/components/utility/Rss.astro'
import Favicon from '@/components/utility/Favicon.astro'
import CanonicalLink from '@/components/utility/CanonicalLink.astro'
import Meta from '@/components/utility/Meta.astro'
import Sitemap from '@/components/utility/Sitemap.astro'
import PreloadFonts from '@/components/utility/PreloadFonts.astro'

import '@/styles/global.css'

type Props = {
  pageTitle?: string
  pageDescription?: string
}

const { pageTitle = defaultSeo.baseTitle, pageDescription = defaultSeo.metaDescription } =
  Astro.props
---

<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <Meta description={pageDescription} />
    <Favicon />
    <CanonicalLink />
    <Rss />
    <Analytics />
    <Sitemap />
    <PreloadFonts type="sans" />
    <slot name="head" />
  </head>
  <body>
    <LandmarksLayout>
      <slot name="beforeContent" />
      <slot />
      <slot name="afterContent" />
    </LandmarksLayout>
    <slot name="endOfBody" />
  </body>
</html>
