---
import type { CollectionEntry } from 'astro:content'

import ScrollProgressBar from '@/components/ScrollProgressBar.astro'
import PreloadFonts from '@/components/utility/PreloadFonts.astro'
import { defaultSeo } from '@/config/seo'

import BaseLayout from './BaseLayout.astro'

type Props = Pick<
  CollectionEntry<'projects'>['data'],
  'name' | 'date' | 'description' | 'technologies'
>

const { name, description } = Astro.props
---

<BaseLayout pageTitle={defaultSeo.pageTitle(name)} pageDescription={description}>
  <Fragment slot="head">
    <PreloadFonts type="serif" />
  </Fragment>

  <Fragment slot="beforeContent">
    <span>Project header here</span>
  </Fragment>

  <slot />

  <Fragment slot="endOfBody">
    <ScrollProgressBar />
    <script src="@/scripts/copy-code.ts"></script>
  </Fragment>
</BaseLayout>
